* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
    color:white;
}

body {
    background-color: rgb(19, 19, 19);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1 {
    padding: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.title hr {
    width: 80%;
    margin:16px 0px;
}

.title .shortcuts .shortcut-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0px;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.main-content h2 {
    margin: 12px 0px;
}

.main-content .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-bottom: 30px;
}

.main-content .article span {
    max-width: 90%;
}

.main-content .article img {
    max-width: 90%;
    object-fit: cover;
    min-width: 400px;
}

.main-content .article .img-group {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-content .article .img-group img {
    max-width: 45%;
    object-fit: cover;
    margin:8px;
    width: 500px;
}


.control-key {
    background-color: rgba(44, 44, 44, 0.315);
    padding:4px;
    border-radius: 4px;
    margin: 0 6px;
}

#pressedKeyContainer {
    position: fixed;
    background-color: rgba(85, 85, 85, 0.5);
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}

#pressedKeyContainer .pressedKey {
    font-weight: bold;
    margin: 0 4px;
    padding: 16px 8px;
}


.context-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 2px grey;
}

.context-menu-item {
    background-color: whitesmoke;
    transition: 0.5s;
    color:rgb(19, 19, 19);
    padding: 10px;
    cursor: pointer;
}

.context-menu-item:first-child {
    border-radius: 4px 4px 0 0;
}

.context-menu-item:last-child {
    border-radius:  0 0 4px 4px;
}

.context-menu-item:hover {
    transition: 0.5s;
    color:rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
}